---
import Layout from '@layouts/Layout.astro';
import Card from "../components/Card.vue";
import {Content as Intro} from "@data/intro.md";
import past_events from "@data/past_events.yml";
import socials from "@data/socials.yml";
import TypedWrapper from "@components/TypedWrapper.vue";
---

<Layout title="ITECC NST Club">
  <div class="h-[100svh] flex mb-14 justify-center items-center transition-fade relative">
    <div>
      <div class="title text-center mb-2">
        Network & Security Technology (NST) Club
      </div>
      <div>
        <TypedWrapper client:load />
      </div>
    </div>
    <div class="flex flex-col items-center gap-2">
      <!-- styling in main.css not here because of astro compilation messing up the classes -->
    </div>
    <div class="absolute bottom-5 md:bottom-10 w-full h-14 px-5 md:px-20 flex justify-end md:justify-between text-[--first-text-color] text-lg">
      <div id="scrolldown" class="hidden md:flex rounded-full h-full aspect-square p-3 justify-center items-center bg-[--primary-bg-transparent-60] backdrop-blur border-2 border-[--secondary-bg] cursor-pointer hover:border-[3px] hover:pt-5 transition-all">
        <i class="fa-regular fa-arrow-down"></i>
      </div>

      <div class="rounded-full h-full p-5 flex justify-around items-center gap-6 bg-[--primary-bg-transparent-60] backdrop-blur border-2 border-[--secondary-bg]">
        {
        socials.map((social: any) => <a class={social.icon} href={social.link} target="_blank"></a>)
        }
      </div>
    </div>
  </div>

  <div class="main-content mx-5 px-auto w-auto">
    <div class="flex flex-wrap mx-auto justify-evenly items-start gap-10 w-auto md:w-[728px] lg:w-[984px]">

      <Card class="profile flex flex-col gap-3 items-center text-[--first-text-color] text-sm w-full md:w-[228px]">
        <div class="flex flex-col items-center gap-1">
          <img src="/assets/nstclub-logo.jpeg" class="avatar rounded-xl w-20 h-20" alt="author" />
          <div class="text-lg text-align-center">NST Club</div>
        </div>
        <hr class="w-full border-[--secondary-bg]" />
        <div class="flex justify-center items-center h-full">Active since 2000</div>
      </Card>

      <Card class="flex-auto w-full md:w-[460px]">
        <div class="markdown-body">
          <Intro />
        </div>
      </Card>

      <div class="w-full z-10">
        <h1 class="home-h1 mb-0 w-full">Events</h1>
        <div class="hide-scrollbar py-1 overflow-x-auto snap-x snap-mandatory whitespace-nowrap">
          {Object.entries(past_events).map(([year, events]: [any, any]) => (
          <Card class="align-top snap-center overflow-y-hidden inline-block mx-2 w-10/12 md:w-11/12">
            <h2 class="home-h2">{year}</h2>
            <div class="timeline pb-2">
              {events.map((event: any) => (
              <div class="event top-0 bottom-0 left-5" data-date={event.date.toLocaleDateString("en-US", { month: "short", day: "numeric" })}>
                {
                event.link
                      ? 
                      <a href={event.link} class={event.type}>
                  {event.name}
                  <i class="ml-1 fa-regular fa-arrow-up-right-from-square"></i>
                </a>
                :
                <span class={event.type}>{event.name}</span>
                }
                <div class={"rank" /* + event.type */}>
                  {event.rank}
                </div>
              </div>
              ))}
            </div>
          </Card>
          ))}
        </div>
        <div class="hidden sm:flex justify-center mt-3 h-10 gap-3">
          <button data-left-button class="hidden h-full sm:inline-block rounded-lg w-2/12 bg-[--primary-bg-transparent-60] hover:bg-[--primary-color] border border-[--secondary-bg] text-[--second-text-color] hover:text-[--primary-bg] transition-all">
            <i class="fa-regular fa-angle-left"></i>
          </button>
          <button data-right-button class="hidden h-full sm:inline-block rounded-lg w-2/12 bg-[--primary-bg-transparent-60] hover:bg-[--primary-color] border border-[--secondary-bg] text-[--second-text-color] hover:text-[--primary-bg] transition-all">
            <i class="fa-regular fa-angle-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</Layout>

<script>
document.addEventListener("astro:page-load", () => {
  // scrolldown button
  const scrolldown = document.getElementById("scrolldown");
  if (scrolldown) {
    scrolldown.addEventListener("click", () => {
      // works because it just so happens that scrolldown is the correct height due to header
      scrolldown.scrollIntoView({behavior: "smooth"});
    });
  }

  // ctf carousel
  const scrollbox = document.querySelector(".hide-scrollbar");
  const leftButton = document.querySelector("[data-left-button]");
  const rightButton = document.querySelector("[data-right-button]");

  if (scrollbox && leftButton && rightButton) {
    scrollbox.scrollLeft = scrollbox.scrollWidth;

    const scrollLeft = () => {
      scrollbox.scroll({left: scrollbox.scrollLeft - window.innerWidth * 0.6, behavior: "smooth"});
    }
    const scrollRight = () => {
      scrollbox.scroll({left: scrollbox.scrollLeft + window.innerWidth * 0.6, behavior: "smooth"});
    }

    leftButton.addEventListener("click", scrollLeft);
    rightButton.addEventListener("click", scrollRight);
  }
})
</script>

<style>
.title {
  color: var(--third-text-color);
  font-family: "Chillax", sans-serif;
  font-size: 45px;
}

.profile {
  font-family: "Chillax", sans-serif;
}

.avatar {
  outline: solid 2px var(--secondary-bg);
}

.home-h1 {
  font-family: "Chillax", sans-serif;
  font-weight: 500 !important;
  border-bottom: none;
  margin-bottom: 16px !important;
}

.home-h2 {
  font-family: "Chillax", sans-serif;
  font-size: 24px;
  font-weight: 400 !important;
  border-bottom: none;
}

.timeline {
  line-height: 1.5;
  border-radius: 4px;
}

.event {
  position: relative;
  padding: 3rem 2rem 1rem;
  border-left: 2px solid var(--primary-color);
  font-size: 1.6rem;
  font-weight: 900;
}

.event::before {
  display: block;
  content: attr(data-date);
  position: absolute;
  top: 1rem;
  left: 2rem;
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--second-text-color);
}

.event::after {
  display: block;
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: calc(1rem + 5px);
  left: -6px;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  background: var(--primary-bg);
}

@media (max-width: 640px) {
  .event {
    font-size: 1rem;
    padding: 2.5rem 1rem 1rem;
  }

  .event::before {
    left: 1rem;
  }
}

.rank {
  font-size: 1rem;
  font-weight: 300;
}

@media (max-width: 640px) {
  .rank {
    font-size: 0.7rem;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

[data-left-button], [data-right-button] {
  transition: transform 0.3s ease;
}

[data-left-button]:hover, [data-right-button]:hover {
  transform: scale(1.05);
}

/* Styling for event names below*/
.intro-to-digi-scam-webinar {
  color: var(--third-text-color);
}

.ignite-2022-cyber-warrior {
  color: var(--third-text-color);
}

.cyber-sec-digi-scam-awareness-webinar-1 {
  color: var(--third-text-color);
}

.cyber-sec-digi-scam-awareness-webinar-2 {
  color: var(--third-text-color);
}

.reverse-shell-gym-session {
  color: var(--third-text-color);
}

</style>
